*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#hero-home {
    background-image: url(./files/hero-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    color: white;
}

#hero-act {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    color: white;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 25%;
    max-height: auto;
}

.menu ul {
    list-style: none;
    padding: 0 1rem;
}

li {
    display: inline;
    margin-right: 1.5rem;
}

nav li a {
    color: whitesmoke;
    text-decoration: none;
}

h2 {
    margin: 1rem 0;
}