*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(lightblue, lightyellow)
    
}
header img {
    max-width: 25%;
}

header .top-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

nav {
    margin: 0;
    padding: 0;
    display: flex;
}

/*li {
    list-style-type: none;
    display: inline;
    margin-right: 1.5rem;
}*/

nav li a {
    color: whitesmoke;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main section#offering-info {
    border: solid 1px black;
    text-align: center;
    grid-column: span 3;
}